<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shark.mybatisboot.dao.mapper.DemoMapper">

    <!-- 查询所有商户 -->
    <select id="queryMemberName" resultType="string">
        SELECT DISTINCT member_name from SQL_MODEL
    </select>


    <!-- 查询SQL_MODEL -->
    <select id="querySqlModelEntity" resultType="map">
    SELECT ID,MEMBER_NAME,EXEC_TYPE,USER_NAME,EXEC_SQL,PARAMETERS,MSG,CREATE_TIME
    FROM SQL_MODEL
    </select>


    <!-- 查询SQL_MODEL -->
    <select id="queryOperation" resultType="map">
        SELECT OPERATION_ID,SQL_ID,UPDATE_USER,OPERATION_TIME,MODEL_BEFORE,MODEL_AFTER,OPERATION_TYPE
        FROM OPERATION_HISTORY
    </select>

</mapper>
